dist-newstyle
auto
*#*#
_minted-thesis
_minted-manual
*.aux
*.hi
*.o
*.log
*.bbl
*.blg
*.brf
thesisColorful.pdf
thesisGray.pdf
manualColorful.pdf
manualGray.pdf
*.ptb
*.exe
manual.tex
thesis.tex
*.out
*.acn
*.glo
*.glsdefs
*.ist
*.lot
*.txt
*.png
*.texlhs2TeX
.stack-work/
*~
