# This is a basic workflow to help you get started with Actions

name: Check creation manual and thesis PDFs

# Controls when the workflow will run
on: [push, workflow_dispatch]
  
jobs:
  linux:
    name: Linux build on node ${{ matrix.node_version }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./doc
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Install pdflatex
        run: sudo apt-get install texlive-latex-base
        
      - name: Install extra fonts
        run: sudo apt-get install texlive-fonts-extra
        
      - name: Create colorful version of the PDF of the manual
        run: ./literate.sh manual colorful
        
      - name: Create colorful version of the PDF of the thesis
        run: ./literate.sh thesis colorful
